<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  defer
  src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
/>
<html>
  <head>
    <title>Agenda de Contato</title>
  </head>
  <body>
    <section class="hero is-dark is-bold is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth">
              <div class="container">
                <figure class="image is-128x128">
                  <a href="https://github.com/deliton">
                    <img
                      class="is-rounded"
                      src="https://avatars2.githubusercontent.com/u/47995046?s=460&u=5ac0566f038302f07f9a365aae92e392a3d7e8dc&v=4"
                    />
                  </a>
                </figure>
              </div>
            </div>
            <div class="column">
              <h1 class="title">Agenda de Contatos</h1>
              <h2 class="subtitle">
                Acesse o link para gerenciar seus contatos
              </h2>

              <a class="button is-danger" href="/agenda"
                >Acessar a agenda de contatos</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Contatos NET</strong> by
        <a href="https://www.deliton.com.br">Deliton Junior</a>. Desenvolvido
        para projeto de faculdade
      </p>
    </div>
  </footer>
</html>
